body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #78056d; /* Violet de fond */
    color: #333333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.secondary {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
    color: #200e86;
}

.subtitle {
    font-size: 18px;
    color: #777;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    color: #1fc10a;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.job h3 {
    margin: 0;
    font-size: 20px;
}

.company {
    font-style: italic;
    color: #777;
}

p {
    line-height: 1.6;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        padding: 15px;
        margin: 10px auto;
        height: 90vh;
    }

    .secondary {
        display: none
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    .subtitle, p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
        height: 90vh;
    }

    .secondary {
        display: none
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    .subtitle, p {
        font-size: 14px;
    }

    ul li {
        font-size: 14px;
    }
}
